.container{
  background-image: url(/assets/inspi.jpg);

}
.row{
  color: aliceblue;
  font-size: 20px;

}

.big-font{
  font-size: 30px;

}

.indigo{
  color: chartreuse;
  font-size: 30px;
  font-weight: bold;


}
.jumbotron{
  background-color: dimgray;

}